@font-face {
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
}

:root {
  --primary-color: #c1c7d2;
  --accent-color: #ffb300;
  --bg-color: #333845;
}

body, html {
  height: 100%;
}

html {
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
}

body {
  min-width: 380px;
  margin: 0;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

*, ::after, ::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}

.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.button {
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  padding: 6px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
  cursor: not-allowed;
  opacity: 1;
  background-color: #444;
}

.link {
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  opacity: 0.8;
}

.link:active {
  opacity: 0.5;
}


.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-form {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  gap: 16px;
}

.search-form__input {
  flex-grow: 1;
  padding: 8px;
  color: inherit;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background-color: transparent;
}

.sorting {
  font-size: 12px;
  line-height: 12px;
  /*width: 150px;*/
  cursor: pointer;
  text-align: right;
  text-transform: uppercase;
}

.sorting span {
  color: var(--accent-color);
}

.pagination {
  display: flex;
  align-items: center;
  margin: 0 0 32px;
  padding: 0;
  list-style: none;
  gap: 8px;
}

.pagination__info {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 8px;
}

.user-card {
  display: flex;
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 16px;
  background-color: #272c36;
  gap: 16px;
}

.user-card__avatar {
  width: 25%;
}

.user-card__img {
  display: block;
  width: 100%;
  height: auto;
}

.user-card__info {
  padding: 8px;
}

.user-card__title {
  font-size: 24px;
  margin: 0 0 8px;
}
